name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Call Maven Build Github Action
      uses: ./.github/actions/maven_build
    - name: Build Docker image
      uses: ./.github/actions/docker_build
      with:
        path_dockerfile: 'src/main/docker/Dockerfile.jvm'
        image_name: '${{ vars.DOCKERHUB_USERNAME }}/named_academy'
        tag_name: 'named_tag'
    - name: List Docker images
      run: docker image ls
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Push image to Docker Hub
      uses: ./.github/actions/docker_push
      with:
        docker_image_reference: 'named_academy'
        docker_username: 'renatoviola42500'
